@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ManropeBold";
    src: local("ManropeBold"),
      url("/assets/fonts/Manrope-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "ManropeRegular";
    src: local("ManropeRegular"),
      url("/assets/fonts/Manrope-Regular.ttf") format("truetype");
  }
  
  body {
    overflow: overlay;
  }
  
  /*   ScrollBar Style */
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    background-color: #e2e2e2;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #2390f777;
    border-radius: 15px;
  }